.custom-card {
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    border-radius: 1rem;
    padding: 1rem;
    width: 310px;
    border: 2px solid #363535;
    height: 140px;
}
  
.card-text {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0;
}
  
.icon-wrapper {
    position: absolute;
    bottom: 8px;
    right: 18px;
}

.icon{
    width: 45px; 
    height: 45px;
}