.next {
    position: absolute;
    z-index: 2;
    color: white;
    bottom: 45%;
    width: 1.5rem;
    height: 5rem;
    background-color: rgba(128, 128, 128, 0.4);
    border: none; 
    border-radius: 16rem;
    display: flex;
    align-items: center;
    justify-content: center; 
    cursor: pointer; 
    outline: none; 
    padding: 0; 
}

.next:hover {
    background-color: rgba(128, 128, 128, 0.2);
}

.next {
    right: 2%;
}